@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&family=Inter:wght@400;600;700&family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0 72px;
  max-width: 1920px;
}

/* NAVBAR*/

.navBar {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_links_container {
  display: flex;
}

.navBar .logo_links_container .links_container {
  display: flex;
  gap: 2rem;
}

.navBar .logo_links_container .logo_link {
  display: flex;
  align-items: center;
}

.navBar .logo_links_container .links_container li {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.navBar .logo_links_container .links_container li a {
  text-decoration: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
}

.navBar .signin_wrapper .signin_button {
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-family: "Inter";
  font-weight: 600;
  color: #111827;
  font-size: 16px;
  line-height: 24px;
  border: solid 2px #f3f4f6;
}

/* HERO SECTION*/

/* CTA SECTION*/
#try_durable_CTA {
  background-color: #4c35de;
  min-height: 344px;
  border-radius: 16px;
  background-image: url("assets/Pattern2.svg");
  background-size: contain; /* Adjust to 'contain' or specific dimensions as needed */
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#try_durable_CTA .title {
  color: white;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin: 0 0 0 56px;
  /* padding-left: 56px; */
}

#try_durable_CTA .description {
  color: #e4e0ff;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin: 16px 0 16px 56px;
}

#try_durable_CTA .generate_button {
  color: black;
  font-family: "Inter";
  text-decoration: none;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  background-color: white;
  border-radius: 12px;
  margin-top: 32px;
  margin-left: 56px;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 50px;
}

.footer_logo_container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  padding-left: 60px;
}

.footer_logo_container * {
  font-family: "Inter";
}

.footer_logo_container p {
  color: #6b7280;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.footer_logo_container .language_box {
  display: flex;
  gap: 0.5rem;
  margin-top: 36px;
  margin-bottom: 20px;
}

.footer_logo_container .language_box p {
  font-weight: 600;
  color: #111827;
}

.footer_logo_container .language_box #language_select {
  border: none;
  font-weight: 600;
  color: #111827;
  font-size: 16px;
  line-height: 24px;
  padding-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/assets/arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.footer_logo_container .language_box #language_select option {
  font-weight: 600;
  color: #111827;
  font-size: 16px;
  line-height: 24px;
}

.footer_logo_container #social_media_container {
  display: flex;
  gap: 1.5rem;
  margin-top: 24px;
}

.footer_links {
  display: flex;
  flex-direction: row;
  gap: 15rem;
  flex-basis: 50%;
}

.footer_links * {
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px;
}

.footer_links .links_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_links .links_box h5 {
  font-weight: 600;
  color: #111827;
  margin-bottom: 24px;
}

.footer_links .links_box a {
  font-weight: 400;
  color: #6b7280;
  text-decoration: none;
}

.footer_links .links_box a:hover {
  color: #6b728077;
}
