@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@700&family=Inter:wght@400;600;700&family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1440px;
  background-color: white;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0 3vw;
  }
}

@media only screen and (min-width: 1360px) {
  body {
    padding: 0 72px;
  }
}

/* NAVBAR*/

.navBar {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_links_container {
  display: flex;
}

.navBar .logo_links_container .links_container {
  display: none;
}

.navBar .logo_links_container .logo_link {
  display: flex;
  align-items: center;
}

.navBar .logo_links_container .logo_link:hover img {
  opacity: 0.8;
}

.navBar .logo_links_container .links_container li {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.navBar .logo_links_container .links_container li a {
  text-decoration: none;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #111827;
}

.navBar .logo_links_container .links_container li a:hover {
  opacity: 0.7;
}

.navBar .signin_wrapper .bars:hover {
  opacity: 0.8;
}

.navBar .signin_wrapper .signin_button {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navBar .logo_links_container .links_container {
    display: flex;
    gap: 2rem;
  }

  .navBar .signin_wrapper .signin_button {
    display: block;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 8px;
    font-family: "Inter";
    font-weight: 600;
    color: #111827;
    font-size: 16px;
    line-height: 24px;
    border: solid 2px #f3f4f6;
    transition: all ease-in-out 0.2s;
  }

  .navBar .signin_wrapper .signin_button:hover {
    border-color: #111827;
  }

  .navBar .signin_wrapper .bars {
    display: none;
  }
}

/* HERO SECTION*/
#hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 90vh;
  padding-top: 72px;
  background-image: url("assets/pattern_hero.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

#hero_section * {
  font-family: "Inter";
  text-align: center;
}

#hero_section .content_wrapper_hero .title {
  font-family: "Crimson Pro";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 35px;
  color: #111827;
}

#hero_section .content_wrapper_hero .description {
  display: none;
}

#hero_section .content_wrapper_hero .get_started_hero_button {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: white;
  background-color: #4c35de;
  border-radius: 12px;
  padding: 16px 24px;
  text-decoration: none;
  border: 2px solid #4c35de;
  transition: all ease-in-out 0.2s;
}

#hero_section .content_wrapper_hero .get_started_hero_button:hover {
  color: #4c35de;
  background-color: white;
}

#hero_section .input_wrapper {
  position: relative;
  margin-top: 70px;
  box-shadow: 0px 0px 0px 6.000000476837158px #4c35de29;
  border-radius: 12px;
}

#hero_section .input_wrapper #input_user {
  padding: 10px 0;
  border-radius: 12px;
  border: 2px solid #4c35de;
  width: 400px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #6b7280;
  text-align: start;
  padding-left: 40px;
}

#hero_section .input_wrapper #input_user::placeholder {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  color: #6b7280;
  text-align: start;
}

#hero_section .input_wrapper .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 20px;
}

#hero_section .image_wrapper {
  position: relative;
  opacity: 1;
  transition: all ease-in-out 0.2s;
}

#hero_section .image_wrapper.show {
  opacity: 1;
}

#hero_section .image_wrapper .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to top, #ffffff8e, transparent);
  background-size: 100% 100%, auto;
  background-repeat: no-repeat, repeat-y;
  z-index: 1000;
}

@media only screen and (min-width: 768px) {
  #hero_section {
    height: 90vh;
    padding-top: 72px;
  }

  #hero_section .content_wrapper_hero .title {
    font-size: 72px;
    line-height: 80px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  #hero_section .content_wrapper_hero .description {
    display: block;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #6b7280;
    margin-bottom: 40px;
  }

  #hero_section .image_wrapper {
    opacity: 0;
  }
}

@media only screen and (max-width: 767px) {
  #hero_section {
    height: 70vh;
  }

  #hero_section .image_wrapper .options {
    max-width: 550px;
  }
}

/* INFO BLOCKS */

#info_blocks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 28px;
}

#info_blocks * {
  font-family: "Inter";
}

#info_blocks .card {
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  /* background-color: lightgray; */
  border-radius: 16px;
  flex-basis: 100%;
  width: 100%;
}

#info_blocks .card .content_wrapper {
  display: flex;
  flex-direction: column;
  padding: 3vw;
}

#info_blocks .card .content_wrapper .title {
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #111827;
  margin: 0;
}

#info_blocks .card .content_wrapper .top_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #6b7280;
  margin-top: 0;
  margin-bottom: 16px;
}

#info_blocks .card .content_wrapper .description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #6b7280;
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  #info_blocks {
    flex-direction: row;
  }

  #info_blocks .card {
    flex-basis: 50%;
    width: calc(50% - 0.75rem);
  }
}

@media only screen and (min-width: 992px) {
  #info_blocks .card .content_wrapper {
    padding: 56px;
  }
}

@media only screen and (min-width: 1200px) {
  #info_blocks .card .content_wrapper .title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 767px) {
  #info_blocks .card .content_wrapper .title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
  }

  #info_blocks .card .content_wrapper .top_title {
    font-size: 16px;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
  }

  #info_blocks .card .content_wrapper .description {
    text-align: center;
  }
}

/* ASSISTANTE DOCS SECTION*/
#assistant_docs {
  background-color: #f9fafb;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

#assistant_docs * {
  font-family: "Inter";
  text-align: center;
}

#assistant_docs .content_wrapper {
  padding: 40px 0;
}

#assistant_docs .content_wrapper .top_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #6b7280;
}

#assistant_docs .content_wrapper .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #111827;
  margin: 16px 0;
}

#assistant_docs .content_wrapper .description {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #6b7280;
  width: 70%;
  margin: 0 auto 24px;
}

#assistant_docs .content_wrapper .get_started_btn {
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #4c35de;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  transition: all ease-in-out 0.2s;
}

#assistant_docs .content_wrapper .get_started_btn:hover {
  opacity: 0.9;
  gap: 1rem;
}

#assistant_docs .assistant_img {
  max-width: 654px;
}

@media only screen and (min-width: 992px) {
  #assistant_docs .content_wrapper {
    padding: 56px 0;
  }
}

@media only screen and (min-width: 1200px) {
  #assistant_docs .content_wrapper .title {
    font-size: 56px;
  }

  #assistant_docs .assistant_img {
    max-width: 854px;
  }
}

@media only screen and (min-width: 1360px) {
  #assistant_docs .content_wrapper .description {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  #assistant_docs .content_wrapper .top_title {
    font-size: 16px;
  }

  #assistant_docs .content_wrapper .title {
    font-size: 28px;
    line-height: 36px;
    width: 50%;
    margin: 0 auto 16px;
  }

  #assistant_docs .content_wrapper .description {
    font-size: 16px;
    line-height: 24px;
    width: 70%;
  }

  #assistant_docs .assistant_img {
    max-width: 354px;
  }
}

/* CTA SECTION*/
#try_durable_CTA {
  background-color: #4c35de;
  min-height: 344px;
  border-radius: 16px;
  background-image: url("assets/Pattern2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 50px;
}

#try_durable_CTA .title {
  color: white;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}

#try_durable_CTA .description {
  color: #e4e0ff;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

#try_durable_CTA .generate_button {
  color: black;
  font-family: "Inter";
  text-decoration: none;
  padding: 16px 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  background-color: white;
  border-radius: 12px;
  margin-top: 32px;
  transition: all ease-in-out 0.2s;
}

#try_durable_CTA .generate_button:hover {
  transform: scale(1.1);
}

.break_line_CTA {
  display: none;
}

@media only screen and (min-width: 768px) {
  #try_durable_CTA {
    padding: 0;
    background-size: contain;
  }

  #try_durable_CTA .title {
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 0 56px;
  }

  #try_durable_CTA .description {
    font-size: 20px;
    line-height: 32px;
    margin: 16px 0 16px 56px;
  }

  #try_durable_CTA .generate_button {
    margin-left: 56px;
  }

  .break_line_CTA {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  #try_durable_CTA .generate_button {
    align-self: center;
  }
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 50px;
}

.footer_logo_container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-bottom: 40px;
}

.footer_logo_container * {
  font-family: "Inter";
}

.footer_logo_container p {
  color: #6b7280;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.footer_logo_container .established {
  display: none;
}

.footer_logo_container .language_box {
  display: none;
}

.footer_logo_container .language_box p {
  font-weight: 600;
  color: #111827;
}

.footer_logo_container .language_box #language_select {
  border: none;
  font-weight: 600;
  color: #111827;
  font-size: 16px;
  line-height: 24px;
  padding-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/assets/arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.footer_logo_container .language_box #language_select option {
  font-weight: 600;
  color: #111827;
  font-size: 16px;
  line-height: 24px;
}

.footer_logo_container #social_media_container {
  display: none;
}

.footer_logo_container #social_media_container a:hover img {
  opacity: 0.7;
}

.footer_links {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  flex-basis: 50%;
}

.footer_links * {
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px;
}

.footer_links .links_box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_links .links_box h5 {
  font-weight: 600;
  color: #111827;
  margin-bottom: 24px;
  margin-top: 0;
}

.footer_links .links_box a {
  font-weight: 400;
  color: #6b7280;
  text-decoration: none;
}

.footer_links .links_box a:hover {
  color: #6b728077;
}

.mobile_social_media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.mobile_social_media .social_media_icons {
  display: flex;
  gap: 1rem;
}

.mobile_social_media p {
  font-family: "Inter";
  color: #6b7280;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.break_line {
  display: none;
}

@media only screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 72px;
    padding-bottom: 50px;
  }

  .footer_logo_container {
    padding-left: 60px;
    margin-bottom: 0;
  }

  .footer_logo_container .language_box {
    display: flex;
    gap: 0.5rem;
    margin-top: 36px;
    margin-bottom: 20px;
  }

  .mobile_social_media {
    display: none;
  }

  .footer_logo_container #social_media_container {
    display: flex;
    gap: 1.5rem;
    margin-top: 24px;
  }

  .footer_logo_container .established {
    display: block;
  }

  .break_line {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .footer_links {
    gap: 10rem;
  }
}

@media only screen and (min-width: 1360px) {
  .footer_links {
    gap: 15rem;
  }
}
